/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-06-2019, 18:24:26
    Author     : Ricardo
*/

#form-registroUser{
    margin-block-start: 40px;
}

#form-pelicula{
    margin-block-start: 40px;

}

